Source: ivy-c
Priority: extra
Section: devel
Maintainer: Alexandre Bustico <alexandre.bustico@cena.fr>
Build-Depends: debhelper (>= 7.0.50~), libxt-dev, libx11-dev, tcl-dev, libglib2.0-dev, libpcre3-dev
Standards-Version: 3.9.2
Homepage: http://www2.tls.cena.fr/products/ivy/

Package: ivy-c-dev
Section: libdevel
Architecture: any
Depends: ivy-c (= ${binary:Version}), ${misc:Depends}, libc6-dev, libx11-dev, libglib2.0-dev
Suggests: tclsh, wish
Description: Ivy software bus. development Package
 This package is needed for compiling applications using ivy-c.
 Ivy is mostly a communication convention between processes, implemented
 through a collection of libraries in several languages and for several platforms,
 from  C to Perl, from Macintosh or WindowsNT to Linux or Unix.

Package: ivy-c
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: tclsh, wish
Conflicts: ivy-tcl
Description: Ivy software bus. runtime Package
 Ivy is mostly a communication convention between processes, implemented
 through a collection of libraries in several languages and for several platforms:
 from  C to Perl, from Macintosh or WindowsNT to Linux or Unix.
