Source: paparazzi-arm7
Section: extra
Priority: optional
Maintainer: Gautier Hattenberger <gautier.hattenberger@enac.fr>
Standards-Version: 3.4


Package: paparazzi-arm7
Architecture: any
Depends: lpc21isp, gcc-arm, binutils-arm, libusb-dev, newlib-arm
Description: Paparazzi Meta Package. Philips ARM7 support

