.DS_Store
*~
linux/arm-none-eabi-gcc-linaro/openocd-master
linux/arm-none-eabi-gcc-linaro/sources
linux/arm-none-eabi-gcc-linaro/stamps
linux/arm-none-eabi-gcc-linaro/build
linux/arm-none-eabi-gcc-linaro/gcc-linaro-*
linux/arm-none-eabi-gcc-linaro/newlib-*
linux/arm-none-eabi-gcc-linaro/build-arch-stamp
linux/arm-none-eabi-gcc-linaro/build-indep-stamp
linux/arm-none-eabi-gcc-linaro/configure-stamp
linux/arm-none-eabi-gcc-linaro/debian/files
linux/arm-none-eabi-gcc-linaro/debian/paparazzi-arm-multilib/
linux/arm-none-eabi-gcc-linaro/debian/paparazzi-arm-multilib.debhelper.log

linux/paparazzi-arm-multilib_*

linux/ivy/ivy-c/ivy-c*

linux/ivy/ivy-ocaml/ivy-ocaml*

linux/ivy/ivy-python/ivy-python*

linux/lpc21isp/lpc21isp*
