Source: paparazzi-jsbsim
Section: devel
Priority: optional
Maintainer: Gautier Hattenberger <gautier.hattenberger@enac.fr>
Build-Depends: debhelper (>= 8.0.0), cmake, pkg-config
Standards-Version: 4.0.0
Homepage: http://www.jsbsim.org/

Package: paparazzi-jsbsim
Architecture: any
Depends: ${misc:Depends}
Description: JSBSim support for Paparazzi
 JSBSim shared libraries package from sources (https://github.com/JSBSim-Team/jsbsim)
 Package made for the Paparazzi project (http://paparazziuav.org)
