#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.
#
# Usage:
#  make -f debian/rules reseed
#  dpkg-buildpackage -S
#  cd ..
#  sudo pbuilder build paparazzi-arm-multilib*.dsc
#

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

%:
	dh $@

# A little hack to skip downloading if the files are already present.
override_dh_auto_configure:
	make init-dirs
	-cp -au seed/* sources
	-cp -au seed-stamps/* stamps

# don't strip, if the libs are stripped with the normal strip (instead of arm-none-eabi-strip),
# the first object in the archive gets messed up so the lib is unusable and will be skipped later
override_dh_strip:
	@echo 'strip:' do nothing

# Fill up the seed.  ppa builds must be self contained
reseed:
	rm -rf seed seed-stamps stamps
	mkdir -p seed
	mkdir -p seed-stamps
	make fetch_sources
	cp -a sources/* seed
	cp -a stamps/*.fetch seed-stamps
