Source: paparazzi-arm-multilib
Section: embedded
Priority: extra
Maintainer: Felix Ruess <felix.ruess@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), libmpfr-dev, libgmp3-dev, libmpc-dev, flex, bison, autoconf, automake, autogen, gettext, texinfo, procps, sharutils, libcloog-ppl-dev, libncurses5-dev, zlib1g-dev, gawk, xz-utils, patchutils, gperf, m4, libtool, libelfg0-dev, dejagnu, realpath, chrpath, curl
Standards-Version: 3.9.2
Homepage: http://paparazzi.enac.fr

Package: paparazzi-arm-multilib
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Paparazzi support for lpc21 and stm32 processors
 This is a cross compilation toolchain for Paparazzi
 It contains:
    gcc       (linaro-4.5-2011.02-0)
    binutils  (2.21.53)
    newlib    (1.19.0)
    libstm32
    libopenstm32
