#!/usr/bin/make -f
# -*- makefile -*-
#
# build and package a multilib baremetal compiler
#
# Usage:
#  make -f debian/rules reseed
#  debuild -S
#  cd ..
#  sudo pbuilder build paparazzi-arm-multilib*.dsc
#

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

# Change the default prefix
export PREFIX=/opt/paparazzi/arm-multilib

# this should actually work as well, instead of overriding dh_strip
#export DEB_BUILD_OPTIONS:="$(DEB_BUILD_OPTIONS) nostrip"

%:
	dh $@

# A little hack to skip downloading if the files are already present.
override_dh_auto_configure:
	make stamp/init-dirs
	-cp -au seed/* downloads

override_dh_strip:
	@echo 'strip:' do nothing

# Fill up the seed.  ppa builds must be self contained
reseed:
	rm -rf seed stamp
	mkdir -p seed
	$(MAKE) -j3 stamp/newlib-extract stamp/binutils-extract stamp/gcc-extract
	cp -a downloads/* seed
