Source: paparazzi-jsbsim
Section: extra
Priority: optional
Maintainer: Gautier Hattenberger <gautier.hattenberger@enac.fr>
Standards-Version: 1.2

Package: paparazzi-jsbsim
Architecture: all
Depends: ${misc:Depends}
Description:
  JSBSim shared libraries package (jsbsim.sourceforge.net)
  Package made for the Paparazzi project (paparazzi.enac.fr)

