Source: paparazzi-jsbsim
Section: devel
Priority: optional
Maintainer: Felix Ruess <felix.ruess@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autoconf, automake, libtool, pkg-config
Standards-Version: 3.9.2
Homepage: http://jsbsim.sourceforge.net

Package: paparazzi-jsbsim
Architecture: any
Depends: ${misc:Depends}
Description: JSBSim support for Paparazzi
 JSBSim shared libraries package (jsbsim.sourceforge.net)
 Package made for the Paparazzi project (paparazzi.enac.fr)
