#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@


REV=$(shell dpkg-parsechangelog | sed -rne 's,^Version: .*[+~]svn([0-9]+).*,\1,p')
VER=$(shell dpkg-parsechangelog | sed -rne 's,^Version: ([^-]+).*,\1,p')
CVS_DATE="12 Jun 2012"
get-orig-source:
	rm -rf paparazzi-jsbsim-$(VER)
	cvs -z3 -d:pserver:anonymous@jsbsim.cvs.sourceforge.net:/cvsroot/jsbsim export -D $(CVS_DATE) -d paparazzi-jsbsim-$(VER) JSBSim
	GZIP='--best --no-name' tar -cz --owner root --group root --mode a+rX -f paparazzi-jsbsim_$(VER).orig.tar.gz paparazzi-jsbsim-$(VER)
	rm -rf paparazzi-jsbsim-$(VER)


override_dh_auto_configure:
	./autogen.sh --enable-libraries --enable-shared --disable-static --prefix=/usr

