Source: ivy-python
Section: python
Priority: optional
Maintainer: Felix Ruess <felix.ruess@gmail.com>
Build-Depends: dh-python, debhelper (>= 8.0.0), python3 (>= 3.5~)
Standards-Version: 3.9.5
Homepage: http://www.eei.cena.fr/products/ivy/
Vcs-Git: https://gitlab.com/ivybus/ivy-python.git
Vcs-Browser: https://gitlab.com/ivybus/ivy-python

Package: ivy-python
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Description: Ivy: a lightweight software bus (Python bindings)
 Ivy is a lightweight software bus for quick-prototyping protocols. It allows
 applications to broadcast information through text messages, with a
 subscription mechanism based on regular expressions. This package provides
 Python bindings for Ivy.
