Source: ivy-ocaml
Section: net
Priority: optional
Maintainer: Gautier Hattenberger <gautier.hattenberger@enac.fr>
Build-Depends: debhelper (>= 7.0.50~), dh-ocaml (>= 0.9.0), ocaml-nox, libglib2.0-dev, libpcre3-dev, ivy-c-dev (>=3.11)
Standards-Version: 3.9.2
Homepage: http://www2.tls.cena.fr/products/ivy/
Vcs-Svn: http://svn.tls.cena.fr/svn/ivy/ivy-ocaml/trunk
Vcs-Browser: http://svn.tls.cena.fr/wsvn/ivy/ivy-ocaml/trunk/#_ivy-ocaml_trunk_

Package: ivy-ocaml
Architecture: any
Depends: ${ocaml:Depends}, ${shlibs:Depends}, ${misc:Depends}, ivy-c(>= 3.11)
Suggests: ocaml-findlib
Provides: ${ocaml:Provides}
Description: Ocaml binding for the Ivy software bus
 This package provides the bindings for the Ivy software bus. Standalone
 linking and with the glib mainloop are provided.
